@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');

/* Globala fonts */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #fff;
  margin-bottom: 2.8rem;
  font-weight: 300 !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
}

/* Nav */

a:hover {
  color: rgb(241, 114, 167);
}

nav ul a {
  color: #6d707a;
  font-weight: 200;
}

nav a {
  color: #000;
}

nav .brand-logo {
  margin-top: 0.5%;
  max-width: 15%;
}

/* Helpers */
.responsive-image {
  max-width: 100%;
}

.wrapper {
  max-width: 20vw;
  margin: 0 auto;
}

/* Sektioner */
.section-pink {
  background-color: rgb(241, 114, 167);
  padding: 1rem 0 1rem 0;
}

.section {
  padding: 1.4rem 0 0 0;
}

.car {
  background: url(../media/c4k_bil.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25vh;
  margin-top: 10px;
}

.section-school {
  background: url(../media/kids.jpg);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-school h2 {
  font-size: 1.7rem;
  padding: 2rem;
  text-align: center;
  color: #FFF;
  background-color: rgb(241, 114, 167);
}

/* Form */
.input-field input[type=email]:focus + label {
  color: rgb(241, 114, 167) !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid rgb(241, 114, 167) !important;
  box-shadow: none !important;
}

/* Responsive */
@media only screen and (max-width: 1150px) {
  nav .brand-logo {
    margin-top: 0.7%;
    max-width: 18%;
  }

  .container {
    width: 90vw;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    margin-top: 0.5%;
    max-width: 60%;
  }

  .wrapper {
    max-width: 40vw;
  }
}