@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #fff;
  margin-bottom: 2.8rem;
  font-weight: 300 !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
}

nav ul a {
  color: #6d707a;
  font-weight: 200;
}

nav a {
  color: #000;
}

nav .brand-logo {
  margin-top: 0.4rem;
}

.responsive-image {
  max-width: 17%;
}

.section-pink {
  background-color: rgb(241, 114, 167);
  padding: 1rem 0 1rem 0;
}

.section-school {
  background: url(../media/kids.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* Form */
.input-field input[type=email]:focus + label {
  color: rgb(241, 114, 167) !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid rgb(241, 114, 167) !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 992px) {

  .responsive-image {
    max-width: 60%;
    margin: 4% 0 0 17.5%;
  }
}