@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
  color: #fff;
  margin-bottom: 2.8rem;
}

nav ul a {
  color: #000;
}

nav a {
  color: #000;
}

.section-pink {
  background-color: #f127a7;
  padding: 1rem 0 1rem 0;
}

.section {
  max-height: 15vh;
}